django-audit-fields
django-crypto-fields
django-revision
edc-action-item
edc-auth
edc-adverse-event
edc-consent
edc-dashboard
edc-data-manager
edc-device
edc-export
edc-facility
edc-fieldsets
edc-identifier
edc-lab
edc-lab-dashboard
edc-list-data
edc-locator
edc-metadata-rules
edc-model-admin
edc-navbar
edc-notification
edc-offstudy
edc-prn
edc-protocol
edc-pharmacy
edc-randomization
edc-reportable
edc-reports
edc-reference
edc-registration
edc-search==0.1.10
edc-sites
edc-subject-dashboard
edc-subject-model-wrappers
edc-timepoint
edc-visit-schedule
edc-visit-tracking
django-webtest