django-crypto-fields
django-celery-results
django-celery-beat
# adverse-event-app
edc-adverse-event
edc-randomization
edc-appointment
edc-list-data
edc-auth
edc-dashboard
edc-data-manager
edc-device
edc-export
edc-identifier
edc-lab
edc-lab-dashboard
edc-locator
edc-metadata==0.2.55
edc-metadata-rules
edc-navbar
edc-notification
edc-offstudy
edc-pharmacy
edc-reference
edc-registration
edc-sites
edc-timepoint
edc-visit-schedule
