django-crypto-fields==0.1.26
django_celery_results
django_celery_beat
# adverse_event_app
edc_adverse_event
edc_randomization
edc_appointment
edc_list_data
edc_auth
edc_dashboard
edc_data_manager
edc_device
edc_export
edc_identifier
edc_lab
edc_lab_dashboard
edc_locator
edc_metadata
edc_metadata_rules
edc_navbar
edc_notification
edc_offstudy
edc_pharmacy
edc_reference
edc_registration
edc_sites
edc_visit_schedule
